{% set notices = __SELF__.notices %}

{% for notice in notices %}

<div class="modal fade" id="siteNotice" tabindex="-1" role="dialog" aria-labelledby="siteNoticeTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-{{ notice.width }}" role="document">
    <div class="modal-content">
        <div class="modal-header">
          {% if notice.heading %}
          <h2 class="modal-title" id="exampleModalLongTitle">{{ notice.heading }}</h2>
          {% endif %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        {{ notice.message|raw }}
      </div>
      {% if notice.button_link %}
        <div class="modal-footer">
          <a href="{{ notice.button_link }}" target="_blank" class="btn btn-primary">{{ notice.button_label }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% put scripts %}
<script>
  // Site notice
  // sessionStorage.getItem('key');
  if (sessionStorage.getItem('{{ notice.slug }}') !== 'true') {
    // sessionStorage.setItem('key', 'value'); pair
    if ( {{ notice.hide }} == 1 ) {
      sessionStorage.setItem('{{ notice.slug }}', "true");
    } else {
      sessionStorage.setItem('{{ notice.slug }}', "false");
    }
    // calling the modal with a 5 sec delay
    setTimeout(function() {
      $('#siteNotice').modal('show');
    }, '{{ notice.delay }}000' );
  };
</script>
{% endput %}

{% endfor %}
